/* main-black-text 2C1500 */
/* main-green-text 156963*/
/* footer-text 4F4F4F */
/* black-text 000000 */
/* white-text ffffff */
/* gray 333333 */

:root {
  --main-black-text: #2c1500;
  --main-green-text: #156963;
  --footer-text: #4f4f4f;
  --black-text: #000000;
  --white-text: #ffffff;
  --gray-text: #333333;
  --bgc-color: #f3f4f6;
}
body {
  color: var(--main-black-text);
  font-family: "Montserrat", sans-serif;
  /* font-family: "Nunito", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Work Sans", sans-serif; */
}

/* ------------утилиты */
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  /* max-width: 100%; */
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.container {
  width: 1160px;
  /* outline: 1px solid tomato; */
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  /* flex-basis: calc(100% / 2); */
}

/* ------header------- */
.header {
}
.header-logo {
  margin-right: 860px;

  /* --------------пришлось указать фиксированую ширину!!!!!!!!!!--------- */
}
.btn-he1 {
  margin-right: 40px;
  background-color: transparent;
  border-color: transparent;
  background-image: url("../img/shopping-cart\ 1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  /* ------------------не пойму почему меньше по размеру */
}
.btn-he2 {
  background-color: transparent;
  border-color: transparent;
  background-image: url("../img/search\ 1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.header-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
}
.button {
  padding: 5px 32px;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  width: 111px;
  height: 36px;
  border-color: transparent;
  cursor: pointer;
  display: inline-block; 
   /* --------------не удается сделать кнопку нужного размера!!--- */
}
.btn-first {
  margin-left: 8px;
  color: var(--main-green-text);
  background-color: transparent;
  border-color: transparent;
}
.btn-second {
  color: var(--white-text);
  background-color: var(--main-green-text);
}
/* --------section1-hero------- */
.hero {
}
.hero-box-title {
  margin-bottom: 110px;
  margin-left: 77px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 519px;
}
.hero-title {
  margin-top: 110px;
  margin-bottom: 24px;

  font-weight: 500;
  font-size: 68px;
  line-height: 1.22;
  color: var(--main-green-text);
}

.hero-text {
  margin-bottom: 110px;
  font-size: 18px;
  line-height: 1.8;
}
.hero-box-btn {
  /* justify-content: flex-end; */
  /* margin-left: 86px; */
  display: flex;
}
.hero-box-left {
  padding: 39px 49px;
  width: 320px;
  height: 160px;
}
.hero-box-fight {
  padding: 39px 49px;
  width: 320px;
  height: 160px;
  background-color: var(--main-green-text);
}
.hero-btn-first {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
.hero-btn-second {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--main-green-text);
  border-color: transparent;
  cursor: pointer;
}
.hero-but1 {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  color: var(--gray-text);
}
.hero-but1-2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  color: var(--main-green-text);
}
.hero-but2-1 {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  color: #f2f2f2;
}
.hero-but2-2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  color: var(--white-text);
}

/* --------benefits---------- */
.benefits {
  padding: 140px 0 80px;
}
.benefits-list {
  display: flex;
}
.benefits-item {
  padding: 20px 16px 21px;
  border: 1px solid #E0E0E0;
}
.benefits-title{
  display: flex;
font-weight: bold;
font-size: 16px;
line-height: 1.5;
color: var(--main-green-text);
width: 137px;
margin-left: 0px;

}
.benefits-title::before{
content: "";

display: block;
width: 48px;
height: 48px;
margin-right: 16px;
background-color: transparent;
/* -----не пойму почкму тайлт поверх картинки  */
/* -----почему такой польшой марджин-- */
}
.benefits-icon-delivery::before{
background-image: url("../img/fast\ 1.svg");
}
.benefits-icon-service::before{
  background-image: url("../img/headphones\ 1.svg");
}
.benefits-icon-plants::before{
  background-image: url("../img/plant\ 1.svg");
}
.benefits-icon-price::before{
  background-image: url("../img/dollar-symbol\ 1.svg");
}

.benefits-item:not(:last-child) {
  margin-right: 32px;
}

.benefits-text {
  margin-top: 16px;
  font-size: 10px;
  line-height: 1.6;
}

/* ----------featured-------- */
.featured {
  padding-bottom: 80px;
}
.featured-box-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}
.featured-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--black-text);
}
.featured-filter {
  margin-right: 25px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;

  color: var(--black-text);
}
.featured-list {
  display: flex;
  justify-content: space-between;
}
.featured-text {
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--black-text);
}

.featured-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--black-text);
  /* ----незнаю как выровнять!!----------------- */
}
/* -----------buymore----------------- */
.buymore {
  padding-bottom: 80px;
}
.buymore-box-left {
  max-width: 525px;
}

.buymore-title {
  margin-bottom: 16px;
  padding-left: 20px;
  font-size: 40px;
  line-height: 1.4;
}
.buymore-text {
  padding-left: 20px;
  margin-bottom: 74px;
  font-size: 16px;
  line-height: 1.25;
}

.buymore-box-righg {
}
/* -----------------shop----------- */
.shop {
  padding-bottom: 80px;
}
.shop-box {
  padding: 88px 0 88px 97px;
  background-color: var(--bgc-color);
}

.shop-title {
  margin-bottom: 32px;
  font-size: 40px;
  line-height: 1.4;
}

.shop-btn {
  padding: 10px 42px;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  /* text-align: center; */
  text-decoration: none;
  color: #fafefe;
  background-color: var(--main-green-text);
  cursor: pointer;
}

/* ---------footer------- */
.container-footer {
  font-family: "Work Sans", sans-serif;
  padding: 60px 167px 71px 167px;
  /* flex-basis: calc(100% / 4); */
}
.footer-list-adr {
  width: 284px;
}
.footer-logo {
  margin-bottom: 24px;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-green-text);
}

.footer-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--gray-text);
}

.footer-adr {
  font-size: 13px;
  line-height: 1.53;
  color: var(--footer-text);
  text-decoration: none;
}

.footer-li1 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: var(--black-text);
}
.footer-li2 {
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 1.15;
  color: var(--black-text);
}
.footer-li3 {
  margin-bottom: 14px;
  font-size: 12px;
  line-height: 1.33;
  color: var(--black-text);
}

.footer-btn {
  padding: 4px 12px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 8px;
  line-height: 1.75;
  text-transform: capitalize;
  color: var(--white-text);
  background-color: var(--main-green-text);
  border-color: transparent;
  cursor: pointer;
}
/* 
.box1{
  background-color: yellow;
  width: 800px;
  height: 800px;
  display: flex;
  justify-content: space-between;
}
.box2-1{
  background-color: yellowgreen;
  width: 400px;
  height: 400px;
}
.box2-2{
  background-color: violet;
  width: 400px;
  height: 400px;
} */
